.Product{
    .product_bottom_left{
        padding-right:0 ;
        
        img{
            min-width: 85%;
        }
    }
    .product_right{
        img{
            min-width: 85%;
        }
    }
}