// Color

//Text color
$text-color-white-0:white;


$text-color-bea-0:#bea67c;
$text-color-bea-1:#bea67c97;

$text-color-black-0:#010101;

$text-color-gray-0:#464646;

$text-color-gray-1:#464646;



// background color

$bg-color-black-0:black;
$bg-color-black-1:#0e0e0e;



//FontSize
$font-size-0:1rem;
$font-size-1:1.6rem;
$font-size-2:4rem;
$font-size-3:4.3rem;


// FontWeight
$font-weight-1:700;
$font-weight-2:900;
$font-weight-bold:bold;


// padding
$pd-1:15px;
$pd-2:25px;
$pd-3:30px;
$pd-4:35px;
$pd-5:80px;
$pd-6:90px;
$pd-7:100px;


// margin
$mg-0:5px;
$mg-1:20px;

// Break points
$mobile-width: 480px; 
$tablet-width: 768px; 

$desktop-width: 1024px;  

